parameters:
  level: 5
  paths:
    - app/
  excludePaths:
    - app/Views/*
    - app/Database/Seeds/*
    - app/Database/Migrations/*
    - app/_ide_helper.php
  bootstrapFiles:
    - phpstan-bootstrap.php
includes:
  - vendor/codeigniter/phpstan-codeigniter/extension.neon
  - phpstan-baseline.neon
